.footer {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #d26c19;
    font-weight: 600;
}

.toe{
    color:gold;
    text-align:center;
}